# exclude folders
/.vscode
/__pycache__
link/*
/package
hw-emu/*
hw-run/*
data/
**/hw
**/x86
*.hdf5
**/_x
**/.Xil
**/proj
**/simple-clients

# exclude file formats
*.xo
*.log
*.compile_summary
*.out
*.txt
*.csv
*.dump
*.raw
*.o
*.root

# exclude scripts and specific files
config.py
**/Work
**/x86sim
*.a
**/Work*

# allow only specific files
!link/system.cfg
!hw-emu/xrt.ini
!aie*/data